<h1><%=@place['name']%></h1>
<% for post in @posts %>
<h2><%= post["title"]%></h2>
<h4><%= post["posted_on"]%></h4>
<h4><%= post["description"]%></h4>
<%end%>

<a href="/places">All places</a>
<p><a href="/posts/new?place_id=<%= @place["id"]%>">Create a new post</a></p>
<p><%= button_to "Delete this place", @place, :method => "delete"%></p>